doctype html
html
  head
    link(rel="stylesheet", href="/public/styles.css")
    title Café Culture - #{title}
  body
    nav
      if !currentUser
        li
          a(href="/login") Login 
        li
          a(href="/register") Register
      else
        li Hello #{currentUser.username}!
        li
          a(href="/logout") Logout

    div(class="container")
      header
        div(class="container")
          h1 #{title}
          block appHeader
      main
        block content
      footer
        p Copyright &copy; #{new Date().getFullYear()}