doctype html
html
  head
    link(rel="stylesheet", href="/public/styles.css")
    title Café Culture - #{title}
  body
    nav
      li
        a(href="#") Login
      li
        a(href="#") Sign up
      li
        a(href="#") Logout

    div(class="container")
      header
        div(class="container")
          h1 #{title}
          block appHeader
      main
        block content
      footer
        p Copyright &copy; #{new Date().getFullYear()}