extends layout

block content
  form(action="/cafes", method="POST")
    input(type="text", name="name", placeholder="name")
    input(type="text", name="image", placeholder="image url")
    input(type="text", name="description", placeholder="description")
    button Submit