extends ../layout

block appHeader
  p View our featured Cafés
  p 
    a(class="add-new", href="/cafes/new") Add a new Café

block content
  div(class="cafe-row")
    for cafe in cafes
      div(class="cafe-preview")
        img(src=cafe.image)
        h3= cafe.name
        p
          a(href=`cafes/${cafe._id}`) Explore
        